        <div class="followedby post_card">
        <div class="mt-1">
        <%= check_photo(@user)%>
        </div>
        <div class="ml-1">
        <div class="w-50 d-inline-block">
       <p class="bold m-0"> 
       <%= link_to  @user.fullname, user_path(@user),class:"bold"  %></p>
       <span class="gray m-0"> @<%= @user.username%></span>
       </div>
       <%= followingstate(@user,session[:current_user])%>
        
       
        </div>
        </div>