<div class="p-1 mx-2  mt-2  border rounded-lg border-info">
<%= form_for @thought do |f| %>
    <div class="textarea">
    <%= f.text_area :text,class: "textarea" %><br>
    </div>
    <%= f.submit "Post",class:"btn btn-info" %>
<% end %>
</div>