<% @users.each do |user| %>
    <div class="smallgrid">
    <div>
    <%= link_to  user.fullname, user_path(user),class:"bold"  %>
    </div>
    <div>
    <%= link_to "follow",followings_path(user_id:user.id), method: :post,class:"btn btn-small btn-info" %>
    </div>
    </div>
<%end%>