


<div>
<%= render "new"%>
<h2>Recent Posts </h2>
<%= thoughts(@thoughts) %>
</div>
    <div class="who-to-follow">
    <h3>who to follow</h3>
    <%= whotofollow(session[:current_user]) %>
    </div>