
<% @thoughts.each do |thought| %>
<div class="post_card">
<div class="avatar">
<%= check_photo(thought.author) %>
</div>
<div>
 <%= link_to  thought.author.fullname, user_path(thought.author),class:"bold"  %>
<p><%= thought.text%></p>
</div>
</div>
<%end%>